
body{
margin:0;
background:#f3f3f3;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.mobile{
width:375px;
background:white;
padding:25px;
border-radius:12px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

.primary-btn{
width:100%;
padding:14px;
background:#6c2bd9;
color:white;
border:none;
border-radius:8px;
margin-top:10px;
}

.secondary-btn{
width:100%;
padding:14px;
background:#e6d8ff;
border:none;
border-radius:8px;
margin-top:10px;
}
